<ion-content padding [scrollEvents]="false" style="background-color: #fff;" fullscreen>
  <div class="header">
    <ion-item color="transparent" lines="none">
      <ion-note slot="start">
        <ion-icon (click)="onBack()" name="arrow-back-outline" class="back-btn"></ion-icon>
      </ion-note>
      <ion-label>
        <h2 class="title-header">Livestock</h2>
      </ion-label>
      <ion-avatar slot="end" class="profile-pic">
        <img src="../../../assets/img/farmer-placeholder.png" />
      </ion-avatar>
    </ion-item>
  </div>
  <div class="register-background">
    <p class="sub-title" *ngIf="isAdd">Capture livestock</p>
    <p class="sub-title" *ngIf="!isAdd">Update livestock</p>
    <ion-item color="transparent" (click)="showBrandmark()">
      <ion-label position="floating">Brandmark</ion-label>
      <ion-grid style="width: 100%;">
        <ion-row>
          <ion-col size="1" *ngFor="let brandmark of brandmarks">
            <div style="padding: 5px 0px 0px 5px;" [ngClass]="brandmark.class" [innerHTML]="brandmark.element"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <!-- Datetime in popover with cover element -->
    <ion-item color="transparent" button="true" id="open-date-input">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{ dateValue }}</ion-text>
      <ion-popover trigger="open-date-input" show-backdrop="TRUE">
        <ng-template>
          <ion-datetime #popoverDatetime presentation="date"
            (ionChange)="dateValue = formatDate(popoverDatetime.value)"></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item color="transparent" class="padding-item">
      <ion-label>Bread Type</ion-label>
      <ion-select>
        <ion-select-option selected value="01">Afrikaner</ion-select-option>
        <ion-select-option value="02">Angus</ion-select-option>
        <ion-select-option value="03">Ankole</ion-select-option>
        <ion-select-option value="04">Beefmaster</ion-select-option>
        <ion-select-option value="05">Bonsmara</ion-select-option>
        <ion-select-option value="06">Boran</ion-select-option>
        <ion-select-option value="08">Brahman</ion-select-option>
        <ion-select-option value="07">Braunvieh</ion-select-option>
        <ion-select-option value="07">Charolais</ion-select-option>
        <ion-select-option value="07">Drakensberger</ion-select-option>
        <ion-select-option value="07">Hereford</ion-select-option>
        <ion-select-option value="07">Limousin</ion-select-option>
        <ion-select-option value="07">Nguni</ion-select-option>
        <ion-select-option value="07">Santa Gertrudis</ion-select-option>
        <ion-select-option value="07">Shorthorn</ion-select-option>
        <ion-select-option value="07">Simbra</ion-select-option>
        <ion-select-option value="07">Simmentaler</ion-select-option>
        <ion-select-option value="07">Sussex</ion-select-option>
        <ion-select-option value="07">Tuli</ion-select-option>
        <ion-select-option value="07">Wagyu</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label class="label">Gender</ion-label>
    <ion-row class="padding-item">
      <ion-col size="6" [ngClass]=" gender == 'male' ? 'selected' : 'border'" (click)="gender = 'male'" value="all"
        [ngStyle]="{'font-weight': gender == 'male' ? 'bold' : 'normal' }">Male</ion-col>
      <ion-col size="6" [ngClass]=" gender == 'female' ? 'selected' : 'border'" value="favorites"
        [ngStyle]="{'font-weight': gender == 'female' ? 'bold' : 'normal' }" (click)="gender = 'female'">Female
      </ion-col>
    </ion-row>

    <ion-label class="label">Color</ion-label>
    <ion-row class="padding-item">
      <ion-col size="4" [ngClass]="color == 'black' ? 'selected' : 'border'" (click)="color = 'black'"
        [ngStyle]="{'font-weight': color == 'black' ? 'bold' : 'normal' }">Black</ion-col>
      <ion-col size="4" [ngClass]="color == 'white' ? 'selected' : 'border'" (click)="color = 'white'"
        [ngStyle]="{'font-weight': color == 'white' ? 'bold' : 'normal' }">White</ion-col>
      <ion-col size="4" [ngClass]="color == 'red' ? 'selected' : 'border'" (click)="color = 'red'"
        [ngStyle]="{'font-weight': color == 'red' ? 'bold' : 'normal' }">Red</ion-col>
    </ion-row>

    <ion-label class="label" style="margin-left: -220px;">Health Status</ion-label>
    <ion-row class="padding-item">
      <ion-col [ngClass]="health == 'sick' ? 'selected' : 'border'" (click)="health = 'sick'" size="6"
        [ngStyle]="{'font-weight': health == 'sick' ? 'bold' : 'normal' }">Sick</ion-col>
      <ion-col [ngClass]="health == 'excellent' ? 'selected' : 'border'" (click)="health = 'excellent'" size="6"
        [ngStyle]="{'font-weight': health == 'excellent' ? 'bold' : 'normal' }">Excellent</ion-col>
    </ion-row>

    <ion-item color="transparent">
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea class="border" rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <div style="width: 100%; text-align: center; padding-top: 20px;">
          <input class="selected" type="file" (change)="onFileChange($event, upload)" />
          <br />
          <div>
            <img src="../../assets/img/home-cow-medimun.png" />
          </div>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6" class="center">
      <ion-button ion-button color="primary" fill="clear" (click)=onSave() *ngIf="!isEdit">Save</ion-button>
      <ion-button ion-button color="primary" fill="clear" (click)=onSave() *ngIf="isEdit">Cancel</ion-button>

    </ion-col>
    <ion-col size="6" class="center">
      <ion-button ion-button fill="clear" (click)=onSaveAndNext() *ngIf="!isEdit">Save and Next</ion-button>
      <ion-button ion-button color="primary" fill="clear" *ngIf="isEdit">Update</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>