<ion-content padding [scrollEvents]="false" style="background-color: #fff;" fullscreen>
  <div class="header">
    <ion-item color="transparent" lines="none">
      <ion-note slot="start">
        <ion-icon (click)="onBack()" name="arrow-back-outline" class="back-btn"></ion-icon>
      </ion-note>
      <ion-label>
        <h2 class="title-header">{{title}}</h2>
      </ion-label>
      <ion-avatar slot="end" class="profile-pic">
        <img src="../../../assets/img/farmer-placeholder.png" />
      </ion-avatar>
    </ion-item>
  </div>
  <div class="register-background">
    <p class="title">Let's get Started</p>
    <span class="sub-title">Register new account for a company or Individual.</span>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="isIndividual = true; isCompany = false" [ngClass]=" isIndividual ? 'selected-card' : 'card'">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="person" class="account-type-icon"></ion-icon>
            </ion-card-subtitle>
            <ion-card-title>Individual</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Register the farmer.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="isIndividual = false; isCompany = true" [ngClass]=" isCompany ? 'selected-card' : 'card'">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="business" class="account-type-icon"></ion-icon>
            </ion-card-subtitle>
            <ion-card-title>Company</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Register a company.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <div *ngIf="isCompany || isIndividual" style="padding: 15px;">

      <ion-item *ngIf="isIndividual" color="transparent" lines="none">
        <ion-label position="floating">Name</ion-label>
        <ion-input required="true" class="border-b" [(ngModel)]="farmer.name"></ion-input>
      </ion-item>

      <ion-item *ngIf="isIndividual" color="transparent" lines="none">
        <ion-label position="floating">Surname</ion-label>
        <ion-input required="true" class="border-b" [(ngModel)]="farmer.surname"></ion-input>
      </ion-item>

      <ion-item color="transparent" style="width: 95% !important;">
      <ion-row class="full" *ngIf="isIndividual">       
          <ion-col size="9">
            <ion-item color="transparent" lines="none" style="margin-left: -22px;">
              <ion-label position="floating">Farmer's ID</ion-label>
              <ion-input required="true" (ionInput)="onIdInput($event)" [(ngModel)]="farmer.idNo" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3" style="padding-top: 15px;">
            <ion-label>
              <h6 [ngStyle]="{'font-size': gender != '' ? '11px' : '12px' }">Gender</h6>
              <p class="small-text">
                <ion-icon *ngIf="gender == 'Male'" name="man" class="gerner-icon"></ion-icon>
                <ion-icon *ngIf="gender == 'Female'" name="woman" class="gerner-icon"></ion-icon>
              </p>
            </ion-label>
          </ion-col>     
      </ion-row>
    </ion-item>  

      <ion-item *ngIf="isCompany" color="transparent" lines="none">
        <ion-label position="floating">Company Name</ion-label>
        <ion-input required="true" class="border-b"></ion-input>
      </ion-item>

      <ion-item *ngIf="isCompany" color="transparent" lines="none">
        <ion-label position="floating">Company Reg no</ion-label>
        <ion-input required="true" class="border-b"></ion-input>
      </ion-item>

      <ion-item color="transparent" lines="none">
        <ion-label position="floating" *ngIf="isIndividual">Residential Address</ion-label>
        <ion-label position="floating" *ngIf="isCompany">Business Address</ion-label>
        <ion-input required="true" (ionFocus)="setAddress()" [(ngModel)]="address" class="border-b"></ion-input>
      </ion-item>

      <ion-item color="transparent" lines="none">
        <ion-label position="floating">Farm Address</ion-label>
        <ion-input required="true" (ionFocus)="setFarmAddress()" [(ngModel)]="farmAddress" class="border-b"></ion-input>
      </ion-item>

      <ion-item color="transparent" lines="none">
        <ion-label position="floating">Contact no.1</ion-label>
        <ion-input required="true" type="tel" class="border-b" [(ngModel)]="farmer.contactNo1"></ion-input>
      </ion-item>

      <ion-item color="transparent" lines="none">
        <ion-label position="floating">Contact no.2</ion-label>
        <ion-input required="true" type="tel" class="border-b" [(ngModel)]="farmer.contactNo2"></ion-input>
      </ion-item>

      <ion-item color="transparent" lines="none">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input required="true" type="email" class="border-b" [(ngModel)]="farmer.email"></ion-input>
      </ion-item>

      <!--
      <ion-item (click)="showBrandmark()">
        <ion-label position="stacked">Brandmark</ion-label>
        <ion-grid style="width: 100%;">
              <ion-row>
                <ion-col size="1" *ngFor="let brandmark of brandmarks">
                  <div style="padding: 5px 0px 0px 5px;" [ngClass]="brandmark.class" [innerHTML]="brandmark.element"></div>
                </ion-col>
              </ion-row>   
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input required="true" type="password" size="password" autocomplete="new-password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input required="true" type="password" size="password" autocomplete="new-password"></ion-input>
      </ion-item>
  
      <p class="text" ng-style="{'color':'msgColor'}">
        {{firstMsg}} <ion-router-link href="home" (click)="goToHome()" class="underline" [hidden]="!showLink">click here</ion-router-link> {{secondMsg}}
      </p>
      <br>
        <ion-button expand="block" (click)="onSubmit()">Submit</ion-button>  -->
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6" class="center">
      <ion-button ion-button color="primary" fill="clear" (click)=onSave() *ngIf="!isEdit">Save</ion-button>
      <ion-button ion-button color="primary" fill="clear" (click)=onSave() *ngIf="isEdit">Cancel</ion-button>
     
    </ion-col>
    <ion-col size="6" class="center">
      <ion-button ion-button fill="clear" (click)=onSaveAndNext() *ngIf="!isEdit">Save and Next</ion-button>
      <ion-button ion-button color="primary" fill="clear" (click)=onSave() *ngIf="isEdit">Update</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>