.register-background{
    background-color: white;
    position: absolute;
    top: 14%;
    height: 80%;
    overflow-y: auto;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}

.text{
    font-size: smaller;
}

.east {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    transform: rotate(90deg);
}
.south {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: absolute;
    transform: rotate(180deg);
}
.west {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: absolute;
    transform: rotate(270deg);
}

.header{
    height: 18%;
}

.back-btn{
  font-size: large;
}

.full{
    width: 100%;
}

.small-text{
    font-size: 11px;
    font-weight: normal;
    color: gray;
}

.gerner-icon{
    font-size: x-large;
}

.sub-title{
    font-size: 14px;
    line-height: 1.5;
    color: #45644f !important;
}

.account-type-icon{
    color: #45644f !important;
    font-size: xx-large;
}

.selected-card{
    background: linear-gradient(195deg, #649173, #dbd5a4);
    color: #45644f !important;
}

.card{
    background: ghostwhite;
    color: #45644f !important;
}
