<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header">O wa Mang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddLivestockModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list inset="true">
    <ion-list-header>
      <ion-item style="width: 100%;">       
        <ion-label>
          <h1> My Livestock</h1>
        </ion-label>
      </ion-item>
    </ion-list-header>
    <ion-accordion-group>
      <ion-accordion value="colors" toggle-icon="arrow-down-circle">
        <ion-item slot="header">
          <ion-list>
            <ion-item lines="none">
              <img slot="start" src="../../../assets/img/home-cow.png" height="90px" />
              <ion-label>
                <h2>AJS 129 09: <span>Brahman</span></h2>
                <h3>Owner: <span>Owner Owner</span></h3>
                <p>Age:<span>2 years</span> Color:<span>White</span></p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-list slot="content">
          <ion-card class="details">
            <ion-card-header>
              <ion-card-subtitle>Brahman</ion-card-subtitle>
              <ion-card-title>AJS 129 09</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6"><b>Owner: </b><span>Name Surname</span><br /></ion-col>
                  <ion-col size="6"><b>Color: </b><span>White</span><br /></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6"><b>Age: </b><span>2 years</span><br /></ion-col>
                  <ion-col size="6"><b>Date of birth: </b><span>15 March 2022</span><br /></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12"><b>Note:</b> <br />
                    <p>More information here, more information here.More information here, more information here.More
                      information here, more information here. </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-accordion>

      <ion-accordion value="shapes" toggle-icon="arrow-down-circle" *ngIf="isAdded">
        <ion-item slot="header">
          <ion-list>
            <ion-item class="padding-5" lines="none">
              <img slot="start" src="../../../assets/img/home-sheep.png" height="90px" />
              <ion-label>
                <h2>AJS 129 09: <span>Brahman</span></h2>
                <h3>Owner: <span>Owner Owner</span></h3>
                <p>Age:<span>2 years</span> Color:<span>White</span></p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-list slot="content">
          <ion-card class="details">
            <ion-card-header>
              <ion-card-subtitle>Brahman</ion-card-subtitle>
              <ion-card-title>AJS 129 09</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6"><b>Owner: </b><span>Name Surname</span><br /></ion-col>
                  <ion-col size="6"><b>Color: </b><span>White</span><br /></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6"><b>Age: </b><span>2 years</span><br /></ion-col>
                  <ion-col size="6"><b>Date of birth: </b><span>15 March 2022</span><br /></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6"><b>Age: </b><span>2 years</span><br /></ion-col>
                  <ion-col size="6"><b>Date of birth: </b><span>15 March 2022</span><br /></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12"><b>Note:</b> <br />
                    <p>More information here, more information here.More information here, more information here.More
                      information here, more information here. </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>