<ion-content style="background-color: #fff;">
  <div class="header">
    <ion-item color="transparent" lines="none">
      <ion-note slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-note>
      <ion-label>
        <h2 class="title-header">Matome Moloi</h2>
      </ion-label>
      <ion-avatar slot="end" class="profile-pic">
        <img src="../../../assets/img/farmer-placeholder.png" />
      </ion-avatar>
    </ion-item>
  </div>
  <section>
    <!-- content here -->
    <div class="curve"></div>
  </section>

  <div class="body">
    <div class="detail-header">
      <ion-label>
        <h4 class="eWallet-title">What would you</h4>
        <p class="font-small">Like ToDo?</p>
      </ion-label>
    </div>

   <ion-grid class="margin-30t">
     <ion-row>
       <ion-col size="1"></ion-col>
       <ion-col size="5" class="card mergin-5" (click)="addFarmer()"> 
        <div>
          <img src="../../../assets/img/farmer-icon.png"/>         
          <p class="font-normal"><ion-icon name="add-outline"></ion-icon> <span>Add Farmer</span> </p> 
        </div>
       </ion-col>
       <ion-col size="5" class="card mergin-5t mergin-5b"  (click)="editFarmer()">
        <div>
          <img src="../../../assets/img/farmer-icon.png"/>          
          <p class="font-normal"> <ion-icon name="pencil-outline"></ion-icon> Edit Farmer</p> 
        </div>
       </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="1"></ion-col>
       <ion-col size="5" class="card mergin-5" (click)="addLivestock()">
        <div>
          <img src="../../../assets/img/home-cow.png"/>          
          <p class="font-normal"> <ion-icon name="add-outline"></ion-icon>Add Livestock</p> 
        </div>
       </ion-col>
       <ion-col size="5" class="card mergin-5t mergin-5b" (click)="editLivestock()">
        <div>
          <img src="../../../assets/img/home-cow.png"/>         
          <p class="font-normal">  <ion-icon name="pencil-outline"></ion-icon>Edit Livestock</p> 
        </div>
       </ion-col>
    </ion-row>
   </ion-grid>
    
  </div> 
</ion-content>