.body{
    height: 90% !important;
    max-height: 90% !important;
    overflow: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.white{
    color: ghostwhite;
    font-size: x-large;
    font-family: sans-serif;
}

.gray{
    color: slategray;
}

.title-col{
    font-size: x-large;
    padding-top: 25px;
    color: #fff;
}

.card{
    border-radius: 15px;
    text-align: center;  
    z-index: 9;
    border: #649173 2px solid;
    background: whitesmoke;
}

.mergin-5{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mergin-5t{
    margin-top: 5px;
}

.mergin-5b{
    margin-bottom: 5px;
}

.margin-30t{
    margin-top: 15px;
}

.detail-header{
    padding-left: 20px;
    padding-top: 20px;
}