<ion-content padding [scrollEvents]="false" style="background-color: #fff;"  fullscreen>
  <div class="header">
    <ion-item color="transparent" lines="none">
      <ion-note slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-note>
      <ion-label>
        <h2 class="title-header">Matome Moloi</h2>
      </ion-label>
      <ion-avatar slot="end" class="profile-pic">
        <img src="../../../assets/img/farmer-placeholder.png" />
      </ion-avatar>
    </ion-item>
  </div>
  <section>
    <!-- content here -->
    <div class="curve"></div>
  </section>
  <div class="body">
    <div class="padding-20l">
      <ion-label>
        <h4 class="eWallet-title">Your eHard</h4>
        <p class="font-small">Last update: 15 Mar 2022</p>
      </ion-label>
    </div>
    <div class="cattles">

      <ion-list style="background-color: #fff !important" class="cattle-list">
        <!-- List Header Full Lines -->
        <ion-list-header lines="full">
          <ion-label><strong>My Livestock</strong></ion-label>
        </ion-list-header>
        <div class="scroll">
          <ion-item-sliding color="transparent">           
            <ion-item color="transparent">
              <ion-avatar slot="start" class="brandmark red-cattle">
                <p class="brandmark-p">&#67; &#69; &#8710; <br />
                  002
                <p>
              </ion-avatar>
              <ion-label>
                Male, Status: Alive
              </ion-label>
              <ion-note slot="end">
                <ion-label>
                  <h3>
                    <strong>R18 569.32</strong>
                  </h3>
                  <p>
                    <span>Insured: <ion-icon name="radio-button-on-outline"></ion-icon></span>
                  </p>
                </ion-label>
              </ion-note>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="onStatusConfirm('Lost', 1)">Lost</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding color="transparent">           
            <ion-item color="transparent">
              <ion-avatar slot="start" class="brandmark red-cattle">
                <p class="brandmark-p">&#67; &#69; &#8710; <br />
                  0078
                <p>
              </ion-avatar>
              <ion-label>
                Male, Status: Alive
              </ion-label>
              <ion-note slot="end">
                <ion-label>
                  <h3>
                    <strong>R18 569.32</strong>
                  </h3>
                  <p>
                    <span>Insured: <ion-icon name="radio-button-on-outline"></ion-icon></span>
                  </p>
                </ion-label>
              </ion-note>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="onStatusConfirm('Lost', 1)">Lost</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding color="transparent">           
            <ion-item color="transparent">
              <ion-avatar slot="start" class="brandmark red-cattle">
                <p class="brandmark-p">&#67; &#69; &#8710; <br />
                  003
                <p>
              </ion-avatar>
              <ion-label>
                Male, Status: Alive
              </ion-label>
              <ion-note slot="end">
                <ion-label>
                  <h3>
                    <strong>R18 569.32</strong>
                  </h3>
                  <p>
                    <span>Insured: <ion-icon name="radio-button-on-outline"></ion-icon></span>
                  </p>
                </ion-label>
              </ion-note>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="onStatusConfirm('Lost', 1)">Lost</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item color="transparent">
            <ion-avatar slot="start" class="brandmark black-cattle">
              <p class="brandmark-p">&#67; &#69; &#8710; <br />
                002
              <p>
            </ion-avatar>
            <ion-label>
              Female, Status: Alive
            </ion-label>
            <ion-note slot="end">
              <ion-label>
                <h3>
                  <strong>R18 569.32</strong>
                </h3>
                <p>
                  <span>Insured: <ion-icon name="radio-button-on-outline"></ion-icon></span>
                </p>
              </ion-label>
            </ion-note>
          </ion-item>
          <ion-item color="transparent">
            <ion-avatar slot="start" class="brandmark red-cattle">
              <p class="brandmark-p">&#67; &#69; &#8710; <br />
                004
              <p>
            </ion-avatar>
            <ion-label>
              Male, Status: Alive
            </ion-label>
            <ion-note slot="end">
              <ion-label>
                <h3>
                  <strong>R18 569.32</strong>
                </h3>
                <p>
                  <span>Insured: <ion-icon name="radio-button-off-outline"></ion-icon></span>
                </p>
              </ion-label>
            </ion-note>
          </ion-item>
          <ion-item color="transparent">
            <ion-avatar slot="start" class="brandmark black-cattle">
              <p class="brandmark-p">&#67; &#69; &#8710; <br />
                002
              <p>
            </ion-avatar>
            <ion-label>
              Female, Status: Alive
            </ion-label>
            <ion-note slot="end">
              <ion-label>
                <h3>
                  <strong>R18 569.32</strong>
                </h3>
                <p>
                  <span>Insured: <ion-icon name="radio-button-on-outline"></ion-icon></span>
                </p>
              </ion-label>
            </ion-note>
          </ion-item>
          <ion-item color="transparent">
            <ion-avatar slot="start" class="brandmark red-cattle">
              <p class="brandmark-p">&#67; &#69; &#8710; <br />
                005
              <p>
            </ion-avatar>
            <ion-label>
              Male, Status: Alive
            </ion-label>
            <ion-note slot="end">
              <ion-label>
                <h3>
                  <strong>R18 569.32</strong>
                </h3>
                <p>
                  <span>Insured: <ion-icon name="radio-button-on-outline"></ion-icon></span>
                </p>
              </ion-label>
            </ion-note>
          </ion-item>
          <ion-item color="transparent">
            <ion-avatar slot="start" class="brandmark black-cattle">
              <p class="brandmark-p">&#67; &#69; &#8710; <br />
                002
              <p>
            </ion-avatar>
            <ion-label>
              Female, Status: Alive
            </ion-label>
            <ion-note slot="end">
              <ion-label>
                <h3>
                  <strong>R18 569.32</strong>
                </h3>
                <p>
                  <span>Insured: <ion-icon name="radio-button-on-outline"></ion-icon></span>
                </p>
              </ion-label>
            </ion-note>
          </ion-item>
          <ion-item color="transparent">
            <ion-avatar slot="start" class="brandmark red-cattle">
              <p class="brandmark-p">&#67; &#69; &#8710; <br />
                006
              <p>
            </ion-avatar>
            <ion-label>
              Male, Status: Alive
            </ion-label>
            <ion-note slot="end">
              <ion-label>
                <h3>
                  <strong>R18 569.32</strong>
                </h3>
                <p>
                  <span>Insured: <ion-icon name="radio-button-on-outline"></ion-icon></span>
                </p>
              </ion-label>
            </ion-note>
          </ion-item>
          <ion-item color="transparent">
            <ion-avatar slot="start" class="brandmark black-cattle">
              <p class="brandmark-p">&#67; &#69; &#8710; <br />
                002
              <p>
            </ion-avatar>
            <ion-label>
              Female, Status: Alive
            </ion-label>
            <ion-note slot="end">
              <ion-label>
                <h3>
                  <strong>R18 569.32</strong>
                </h3>
                <p>
                  <span>Insured: <ion-icon name="radio-button-on-outline"></ion-icon></span>
                </p>
              </ion-label>
            </ion-note>
          </ion-item>
        </div>
        <div>
          <ion-row>
            <ion-col size="6" class="total-label"> <span>Total Hard Value</span></ion-col>
            <ion-col size="6"><span>
                <div class="estHardvalue" #fadeText style="opacity: 0%;">R526 215.32</div>
              </span></ion-col>
          </ion-row>
        </div>
      </ion-list>
    </div>    
  </div>  
</ion-content>

<footer>
  <div>
    <ion-row class="border-lightgrey">
      <ion-col size="3" class="footer-item action" (click)="onRequestVisit()">
        <ion-label>
          <ion-icon name="walk" class="icon-visit icon"></ion-icon>
          <p class="footer-label">Request Visit</p>
        </ion-label>   
      </ion-col>
      <ion-col size="3" class="footer-item action" (click)="onSell()">
        <ion-label>
          <ion-icon name="wallet" class="icon-wallet icon"></ion-icon>
          <p class="footer-label ">Sell</p>
        </ion-label>     
      </ion-col>
      <ion-col size="3" class="footer-item action" (click)="onNeedLoan()">
        <ion-label>
          <ion-icon name="cash" class="icon-loan icon"></ion-icon>
          <p class="footer-label">Need a Loan?</p>
        </ion-label>  
      </ion-col>
      <ion-col size="3" class="footer-item action" (click)="onInsurance()">
        <ion-label>
          <ion-icon name="umbrella" class="icon-insurance icon"></ion-icon>
          <p class="footer-label">Insurance?</p>
        </ion-label>  
      </ion-col>
    </ion-row>
  </div>
</footer>


<!--
  <ion-list inset="true">
    <ion-list-header>
      <ion-item style="width: 100%;">
        <ion-icon slot="end" name="add-outline"></ion-icon>
        <ion-label>
          <h1> My Livestock</h1>
        </ion-label>
      </ion-item>
    </ion-list-header>
    <ion-accordion-group>
      <ion-accordion value="colors" toggle-icon="arrow-down-circle">
        <ion-item slot="header">
          <ion-list>
            <ion-item class="padding-5" lines="none">
              <img slot="start" src="../../../assets/img/home-cow.png" height="90px" />

              <ion-label>
                <h2>Cattles</h2>
                <h3>568</h3>
                <p>Listen, I've had a pretty messed up day...</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-list slot="content">
          <ion-item>
            <ion-list inset="true">
              <ion-accordion-group>
                <ion-accordion value="AJS129" toggle-icon="arrow-down-circle">
                  <ion-item slot="header">
                    <ion-list>
                      <ion-item class="padding-5" lines="none" style="width: max-content;">
                        <img slot="start" src="../../../assets/img/cow-img.jfif" height="60px" />

                        <ion-label>
                          <h2>AJS 129...</h2>
                          <h3>Age: <b>2 years</b></h3>
                          <p>health: <ion-icon style="color: #7f9e56;" name="pulse-outline"></ion-icon>
                          </p>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-item>

                  <ion-list slot="content">
                    <ion-card class="details">
                      <ion-card-header>
                        <ion-card-subtitle>Brahman</ion-card-subtitle>
                        <ion-card-title>AJS 129 09</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the
                        capital of the
                        Wisconsin Territory in 1836.
                      </ion-card-content>
                    </ion-card>
                  </ion-list>
                </ion-accordion>
                <ion-accordion value="colors" toggle-icon="arrow-down-circle">
                  <ion-item slot="header">
                    <ion-list>
                      <ion-item class="padding-5" lines="none" style="width: max-content;">
                        <img slot="start" src="../../../assets/img/cow-img-1.jfif" height="60px" />

                        <ion-label>
                          <h2>&#67; &#69; &#8710; 01</h2>
                          <h3>Age: <b>2 years</b></h3>
                          <p>health: <ion-icon style="color: #7f9e56;" name="pulse-outline"></ion-icon>
                          </p>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-item>

                  <ion-list slot="content">
                    <ion-card class="details">
                      <ion-card-header>
                        <ion-card-subtitle>Bonsmara</ion-card-subtitle>
                        <ion-card-title>&#67; &#69; &#8710; 01</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the
                        capital of the
                        Wisconsin Territory in 1836.
                      </ion-card-content>
                    </ion-card>
                  </ion-list>
                </ion-accordion>                
              </ion-accordion-group>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="shapes" toggle-icon="arrow-down-circle">

        <ion-item slot="header">
          <ion-list>
            <ion-item class="padding-5" lines="none">
              <img slot="start" src="../../../assets/img/home-sheep.png" height="90px" />
              <ion-label>
                <h2>Sheep</h2>
                <h3>01</h3>
                <p>Listen, I've had a pretty messed up day...</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-list slot="content">
          <ion-item lines="none">
            <ion-list inset="true">
              <ion-accordion-group>
                <ion-accordion value="colors" toggle-icon="arrow-down-circle">
                  <ion-item slot="header" lines="none">
                    <ion-list>
                      <ion-item class="padding-5" lines="none" style="width: max-content;">
                        <img slot="start" src="../../../assets/img/sheep.jpg" height="60px" />
                        <ion-label>
                          <h2>&#67; &#69; &#8710; 01</h2>
                          <h3>Age: <b>2 years</b></h3>
                          <p>health: <ion-icon style="color: #7f9e56;" name="pulse-outline"></ion-icon>
                          </p>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-item>

                  <ion-list slot="content">
                    <ion-card class="details">
                      <ion-card-header>
                        <ion-card-subtitle>Brahman</ion-card-subtitle>
                        <ion-card-title>AJS 129 09</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the
                        capital of the
                        Wisconsin Territory in 1836.
                      </ion-card-content>
                    </ion-card>
                  </ion-list>
                </ion-accordion>
              </ion-accordion-group>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>-->