<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header">O wa Mang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <h1 style="font-size: 34px;color: #7fa35a"> 151 174</h1>
      <h5 style="margin-bottom: 0; color: #92949c;">Regions</h5>      
  </ion-item>
    <div class="regionBackground"></div>
    <div class="bg-text">
      <ion-row>
        <ion-col style="color: white;">
          <p>Farmers</p>
          <strong>1988</strong>
        </ion-col>
        <ion-col style="color: white;">
          <p>Active farms</p>
          <strong>1988</strong>
        </ion-col>
        <ion-col style="color: white;">
          <p>Inactive farms</p>
          <strong>10</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <p>
          View report on number of regions that are on the system.
        </p>
        </ion-row>
    </div>
  </ion-card>

  <ion-card>
    <ion-item>
        <h1 style="font-size: 34px;color: #7fa35a">251 174</h1>
        <h5 style="margin-bottom: 0; color: #92949c;">Records</h5>      
    </ion-item>
      <div class="auditBackground"></div>
      <div class="bg-text">
      <ion-row>
        <ion-col style="color: white;">
          <p>New entries</p>
          <strong>1 988</strong>
        </ion-col>
        <ion-col style="color: white;">
          <p>Cattle</p>
          <strong>1988</strong>
        </ion-col>
        <ion-col style="color: white;">
          <p>Sheep</p>
          <strong>1 988 323</strong>
        </ion-col>
        <ion-col style="color: white;">
          <p>Others</p>
          <strong>1988</strong>
        </ion-col>
      </ion-row>
      <ion-row>
      <p>
        View report on number of records captured into the system.
      </p>
      </ion-row>
    </div>
  </ion-card>

  <ion-card>    
    <ion-item>
      <h1 style="font-size: 34px;color: #7fa35a">251 174 142</h1>
      <h5 style="margin-bottom: 0; color: #92949c;">Livestock</h5>
    </ion-item>
      <div class="cattleBackground"></div>
      <div class="bg-text">
      <ion-row>
        <ion-col style="color: white;">
          <p>Cattle</p>
          <strong>1 455 124</strong>
        </ion-col>
        <ion-col style="color: white;">
          <p>Sheep</p>
          <strong>2 548 844</strong>
        </ion-col>       
        <ion-col style="color: white;">
          <p>Other</p>
          <strong>1988</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="color: white;">
          <p>Dead</p>
          <strong>50 000</strong>
        </ion-col>
        <ion-col style="color: white;">
          <p>Lost</p>
          <strong>200 214</strong>
        </ion-col>
        <ion-col style="color: white;">
          <p>Found</p>
          <strong>198 814</strong>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>