<ion-content> 
  <div class="ion-padding background">   
    <div><h1 class="header">O WA MANG</h1></div> 
        <div class="doughnutCanvas">
          <canvas #doughnutCanvas width="170"></canvas>  
        </div>           
        <div class="donut-inner">
          <h1 class="total">{{total}}</h1>
      </div>
      <div class="footer">
        <ion-row>
          <ion-col class="gray" (click)="goToRegionReport()"><h4 class="green">Regions</h4><span  class="underline">{{regionsTotal}}</span></ion-col>
          <ion-col class="gray" (click)="goToLogsReport()"><h4 class="red">Records</h4><span  class="underline">{{recordsTotal}}</span></ion-col>
          <ion-col class="gray" (click)="goToCattleReport()"><h4 class="orange">Cattle</h4> <span  class="underline">{{livestockTotal}}</span></ion-col>
        </ion-row>    
      </div>
       
  </div>
</ion-content>
