.line{
    border-bottom: gray solid 1px;
    width: 88px;
  }
  .padding{
      padding: 50px;
  }

  .outer-div{
    border-bottom: gray solid 1px;
  }

  .rounded-item{
    border-radius: 30px !important;
    border: 3px solid lightgray;
    height: 60px;
    box-shadow: none !important;
  }

  .padding-18{
    padding: 18px;
  }

  .padding-r20{
    padding-right: 20px;
  }

  .divider{
    padding: 15px;
    background-color: lightgray;
  }

  .img-fit{
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .title{
    margin: unset;
  }

  .background{
    background-color: white;
    position: absolute;
    top: 40%;
    height: 60%;
    overflow-y: auto;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    padding: 15px;
}

.header{
  height: 45%;
}

.back-btn{
  font-size: x-large;
}

.white-cattle{
  background-color: #e9dac8;
}
.red-cattle{
  background-color: #784a42;
}
.black-cattle{
  background-color:  #2e2c2d;
}

.brandmark{
  padding: 0.5px;
  border: #649173 2px solid;
}

.brandmark-p{
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
  color: #fff;
}