<ion-content>
  <div class="regionBackground background"></div>
  <div class="bg-text">
    <div class="ion-padding ">
      <ion-buttons (click)="goBack()" slot="start" style="top: 5%; position: fixed; margin-left: 15px;">
        <ion-icon style="font-size: x-large;" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <div class="center">
        <h1 class="header">O WA MANG</h1>
        <h3>Famers in <strong>Capricorn District</strong> region</h3>
      </div>
      <div style="margin-top: 10%;">
        <ion-list style="background-color: transparent;">                
          <ion-item color="none" class="item">
            <ion-label>
              <h2 class="farmer-name">Masanobu Fukuoka </h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 1 144 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end" (click)="showBreed()">Breed Info</ion-button>
          </ion-item>
      
          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Lady Eve Balfour</h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 414 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end" (click)="showBreed()">Breed Info</ion-button>
          </ion-item>

          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Sir Albert Howard</h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 23 144 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end" (click)="showBreed()">Breed Info</ion-button>
          </ion-item>
      
          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Rudolf Steiner</h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 14 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>

          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Gary Paul Nabhan </h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 3231 144 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>
      
          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Will Allen</h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 3332 414 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>

          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Joel Salatin </h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 21 144 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>
      
          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Sandor Katz</h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 4 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>

          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Wendell Berry </h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>
      
          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Lady Eve Balfour</h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 414 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>
          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Masanobu Fukuoka </h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 1 144 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>
      
          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Karen Washington</h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 414 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>
          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Masanobu Fukuoka </h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 1 144 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>
      
          <ion-item color="none">
            <ion-label>
              <h2 class="farmer-name">Lady Eve Balfour</h2>
              <p style="font-size: 12px; color: #989aa2;"> Cattle: <span class="green" style="font-size: 14px;"> 414 578</span></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Breed Info</ion-button>
          </ion-item>
        </ion-list>     
      </div>
    </div>
  </div>
</ion-content>