<ion-content>
  <div class="header">
    <ion-item color="transparent" lines="none" class="center">
      <ion-label>
        <h2 class="title-header">Request a visit</h2>
      </ion-label>
      <ion-note slot="end">
        <ion-icon (click)="onColse()" name="close" class="close-btn"></ion-icon>
      </ion-note>
    </ion-item>
  </div>
   <!-- Datetime in popover with cover element -->
   <ion-item color="transparent" button="true" id="open-date-input">
    <ion-label>When?</ion-label>
    <ion-text slot="end">{{ dateValue }}</ion-text>
    <ion-popover trigger="open-date-input" show-backdrop="TRUE">
      <ng-template>
        <ion-datetime #popoverDatetime presentation="date"
          (ionChange)="dateValue = formatDate(popoverDatetime.value)"></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>
  <div>
    <ion-item color="transparent">
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
    </ion-item>
  </div>
  <br />
  <ion-button (click)="onSave()" color="primary" expand="block">Submit</ion-button>
</ion-content>