.underline{
    border-bottom: 1px solid gray;
}

.search{
    margin-top: 7px;
    padding: 20px;
}

.line{
    border-bottom: gray solid 1px;
    width: 90%;
  }

.border{
    border: gray solid 1px;
    height: 56px;
    padding: 15px
  }

  .text-center{
      text-align: center;
  }

  .cancel-color{
      background-color: #f4f5f8;
  }

  .success-color{
      background-color: #7fa35a;;
  }

  .header{
    height: 25%;
    padding: 15px;
}

.title-header{
    color: #bddefc;
    font-size: x-large;
    font-family: sans-serif;
}

.cancel-search{
    font-size: x-large;
    color: darkslategray;
}

.marks{
    background-color: ghostwhite;
    height: 75%;
    overflow-y: auto;
    padding: 15px;
}

.footer{
    padding: 5px;
    color: #45644f !important;
    font-size: 18px;
}

.right-border {
    border-right: solid 2px lightgray;
}

.mark-container{
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
}
.sign{
    color: #ffffff;
    font-size: x-large;
    font-weight: 500;
    padding-right: 10px;
    position: relative;
    width: 25px !important;
}

.pt-15{
    padding-top: 15px;
}