<ion-content>
  <div style="padding: 15px !important;">
    <div class="center">
      <h1>Bonsmara</h1>
      <p>Animal breed</p>
    </div>
  
    <p style="text-align: justify;">
      The Bonsmara is a breed of cattle 
  known for its high quality beef and 
  resistance to local diseases. <br/><br/>
  
  Originating in South Africa as a 
  scientific experiment of professor Jan Bonsma, 
  the Bonsmara was created after many cross 
  matings and back-crosses consisting of 
  five-eighths Afrikaner (Sanga-type), 
  three-sixteenths Hereford, and 
  three-sixteenths Shorthorn (both taurine types).

  <br/><br/>
  <strong>Cost</strong><br/>
  Cows with calves at foot were sold for well over 
  an average price of R47 000, while in-calf cows 
  averaged about R18 000. A total of 116 registered 
  buyers from all over South Africa, as well 
  as Botswana and Zimbabwe attended the sale.
    </p>
  </div>
  
 
</ion-content>
