.register-background{
    background-color: white;
    position: absolute;
    top: 14%;
    height: 80%;
    overflow-y: auto;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    padding: 25px;
}

.text{
    font-size: smaller;
}

.east {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    transform: rotate(90deg);
}
.south {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: absolute;
    transform: rotate(180deg);
}
.west {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: absolute;
    transform: rotate(270deg);
}

.cattle-color-red{
    background-color: #784a42;
    opacity: 0.3;
    border: #784a42 2px solid;
}

.cattle-color-white{
    background-color: #e9dac8;
    opacity: 0.3;
    border: #e9dac8 2px solid;
}

.cattle-color-black{
    background-color:  #2e2c2d;
    opacity: 0.3;
    border: #2e2c2d 2px solid;
}

.selected{
    border: #649173 1px solid;
    color: #fff;
    background: linear-gradient(195deg, #649173, #dbd5a4);
    padding: 5px;
}

.border{
    padding: 5px;
}

.label{
    margin-left: -250px;
    padding: 10px 5px 0px 19px;
}

.header{
    height: 18%;
}

.back-btn{
  font-size: large;
}

.full{
    width: 100%;
}

.small-text{
    font-size: 11px;
    font-weight: normal;
    color: gray;
}

.gerner-icon{
    font-size: x-large;
}

.sub-title{
    font-size: 14px;
    line-height: 1.5;
    color: #45644f !important;
    margin: unset;
}

.account-type-icon{
    color: #45644f !important;
    font-size: xx-large;
}

.selected-card{
    background: linear-gradient(195deg, #649173, #dbd5a4);
    color: #45644f !important;
}

.card{
    background: ghostwhite;
    color: #45644f !important;
}

.padding-12{
    padding: 10px 0px 5px 15px;
}

.padding-item{
    padding: 10px 0px 0px 15px;
}
