<ion-content>
  <ion-list inset="true">
    <ion-accordion-group>
      <ion-accordion *ngIf="!approve0 || !reject0" value="cow0" toggle-icon="arrow-down-circle">
        <ion-item slot="header">
          <ion-list>
            <ion-item lines="none">
              <div style="background-image: url(../../../assets/img/cow1.png)" class="img-fit">
                <div class="dead center" *ngIf="isDead0">
                  <ion-icon name="remove-circle-outline" style="color: red;font-size: 50px;"> </ion-icon><br/> <span style="font-weight: 900; color: white;">Dead</span>
                </div>
              </div>              
              <ion-label>
                <h2><span class="north">&#69;</span> <span class="north">&#67;</span> <span class="east">&#77;  </span> &nbsp; 129 09: <span>Brahman</span></h2>
                <h3>Owner: <span>Owner Owner</span></h3>
                <p>Age:<span>2 years</span> Color:<span>White</span></p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-list slot="content">
          <ion-card class="details">
            <ion-card-header>
              <ion-card-subtitle>Brahman</ion-card-subtitle>
              <ion-card-title>AJS 129 09</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6"><b>Owner: </b><span>Name Surname</span><br /></ion-col>
                  <ion-col size="6"><b>Color: </b><span>White</span><br /></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6"><b>Age: </b><span>2 years</span><br /></ion-col>
                  <ion-col size="6"><b>Date of birth: </b><span>15 March 2022</span><br /></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12"><b>Note:</b> <br />
                    <p>More information here, more information here.More information here, more information here.More
                      information here, more information here. </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-footer>
                <ion-row>
                  <ion-col class="center" text-center style="background-color: #2dd36f;color: #444343;" (click)="approveLiveStock0()">
                    <span (click)="approveLiveStock0()"><ion-icon name="checkmark-circle"></ion-icon>Approve</span>                   
                  </ion-col>
                  <ion-col class="center" text-center style="background-color: #ffc409;color: #ffffff;" (click)="editStock()">
                    <span><ion-icon name="create"></ion-icon><span>Edit</span> </span> 
                  </ion-col>
                  <ion-col class="center" text-center  style="background-color: red;color: #ffffff;" (click)="reject0 = true;">
                    <span (click)="reject0 = true;"><ion-icon name="trash-outline"></ion-icon><span>Reject</span> </span> 
                  </ion-col>
                </ion-row>
              </ion-footer>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-accordion>

      <ion-accordion *ngIf="!approve1 || !reject1" value="cow1" toggle-icon="arrow-down-circle">
        <ion-item slot="header">
          <ion-list>
            <ion-item lines="none">
              <div style="background-image: url(../../../assets/img/cow2.png)" class="img-fit">
              </div>              
              <ion-label>
                <h2><span class="north">&#69;</span> <span class="north">&#67;</span> <span class="east">&#77;  </span> &nbsp; 129 09: <span>Brahman</span></h2>
                <h3>Owner: <span>Owner Owner</span></h3>
                <p>Age:<span>2 years</span> Color:<span>White</span></p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-list slot="content">
          <ion-card class="details">
            <ion-card-header>
              <ion-card-subtitle>Brahman</ion-card-subtitle>
              <ion-card-title>AJS 129 09</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6"><b>Owner: </b><span>Name Surname</span><br /></ion-col>
                  <ion-col size="6"><b>Color: </b><span>White</span><br /></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6"><b>Age: </b><span>2 years</span><br /></ion-col>
                  <ion-col size="6"><b>Date of birth: </b><span>15 March 2022</span><br /></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12"><b>Note:</b> <br />
                    <p>More information here, more information here.More information here, more information here.More
                      information here, more information here. </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-footer>
                <ion-row>
                  <ion-col class="center" text-center style="background-color: #2dd36f;color: #444343;" (click)="approve1 = true;">
                    <span (click)="approve1 = true;"><ion-icon name="checkmark-circle"></ion-icon>Approve</span>                   
                  </ion-col>
                  <ion-col class="center" text-center style="background-color: #ffc409;color: #ffffff;" (click)="editStock()">
                    <span><ion-icon name="create"></ion-icon><span>Edit</span> </span> 
                  </ion-col>
                  <ion-col class="center" text-center  style="background-color: red;color: #ffffff;" (click)="reject1 = true;">
                    <span (click)="reject1 = true;"><ion-icon name="trash-outline"></ion-icon><span>Reject</span> </span> 
                  </ion-col>
                </ion-row>
              </ion-footer>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>
