
<ion-content>
  <img src="../../assets/img/home.jpg"/>
  <div class="forgot-password-background">
    <ion-label class="title">Forgot Password</ion-label> 
    <ion-item [hidden]="showPasswords">
      <ion-label position="floating">Username</ion-label>
      <ion-input required="true"></ion-input>
    </ion-item>
    <ion-item [hidden]="!showOPT && !showPasswords">
      <ion-label position="floating">OPT</ion-label>
      <ion-input required="true" type="number"></ion-input>
    </ion-item>
    <ion-item [hidden]="!showPasswords">
      <ion-label position="floating">Temporary Password</ion-label>
      <ion-input required="true"></ion-input>
    </ion-item>
    <ion-item [hidden]="!showPasswords">
      <ion-label position="floating">New Password</ion-label>
      <ion-input required="true"></ion-input>
    </ion-item>
    <ion-item [hidden]="!showPasswords">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input required="true"></ion-input>
    </ion-item>
    <p class="text" ng-style="{'color':'msgColor'}">
      {{firstMsg}} <ion-router-link href="home" (click)="goToHome()" class="underline" [hidden]="!showLink">click here</ion-router-link> {{secondMsg}}
    </p>
    <br>
      <ion-button expand="block" (click)="onContinue()" [hidden]="showPasswords">Continue</ion-button>  
      <ion-button expand="block" (click)="onSubmit()" [hidden]="!showPasswords">Submit</ion-button>  
  </div>  
</ion-content>

