<ion-content padding fullscreen [scrollEvents]="false">
  <div class="header">
    <ion-row>
      <ion-col size="2" class="start">
        <ion-icon (click)="onBack()" name="arrow-back-outline" class="cancel-search pt-15"></ion-icon>
      </ion-col>
      <ion-col size="8">
        <ion-label>
          <h2 class="title-header">Farmer Search </h2>
          <p class="sub-title">Use one of the field to search for farmer.</p>
        </ion-label>
      </ion-col>

    </ion-row>
   
    <br />
    <ion-searchbar (ionInput)="searchById($event)" (ionCancel)="onCancel()" (ionClear)="searchById($event)" [animated]="true" debounce="500" max="13" placeholder="ID No"  type="number" animated inputmode="numeric"></ion-searchbar>

    <ion-searchbar (ionInput)="searchBySurname()" (ionCancel)="onCancel()" (ionClear)="searchById()" debounce="500" placeholder="Surname" type="text" animated inputmode="text"></ion-searchbar>

    <ion-searchbar (ionInput)="searchByPhoneNumber()" (ionCancel)="onCancel()" (ionClear)="searchById()" debounce="500" placeholder="Phone number" type="number" animated type="tel"></ion-searchbar>

  </div>

  <div class="sub-title">
    <span>Farmers</span>  
  </div>
  <div class="body">
   <!--
      <div class="noData" *ngIf="noData">
      <p> No Records Found!</p>     
    </div>

        <ion-item *ngFor="let farmer of farmers" (click)="selectUser(farmer)">


   -->
    <div >
      <ion-list color="transparent"> 
        <ion-item color="transparent" (click)="selectUser(null)" class="border-b" lines="none">
          <ion-avatar slot="start">
            <img src="../../../assets/img/farmer-placeholder1.png" />
          </ion-avatar>
          <ion-label>
            <h2>Luke Jackson</h2>
            <h3>555252487912</h3>
            <p>Listen, I have had a pretty messed up day...</p>
          </ion-label>
        </ion-item>

        <ion-item color="transparent" (click)="selectUser(null)" class="border-b" lines="none">
          <ion-avatar slot="start">
            <img src="../../../assets/img/farmer-placeholder.png" />
          </ion-avatar>
          <ion-label>
            <h2>Han Joe</h2>
            <h3>723456487912</h3>
            <p>Listen, I have had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    
  </div>

</ion-content>
