/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.title{
    color: #3a3b3a;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 500;
}

.toolbar-container{
    height: 80px !important;
}

.model-toolbar-background{
    height: 60px;
    padding-top: 15px;
    text-align: center;
    color: white;
    background-color: #7fa35a;
    --opacity: 0 !important;
}

.toolbar-background{
    height: 60px;
    background-color: #7fa35a;
}

.east {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: relative;
    transform: rotate(90deg);
}
.south {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: relative;
    transform: rotate(180deg);
}
.west {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: relative;
    transform: rotate(270deg);
}

.searchbar-input.sc-ion-searchbar-md{
    background: transparent;
    border-radius: 25px;
    color: #fff;
    border: #5a7eb2 solid;
}

.item-native {
    background: transparent !important;
}

.sc-ion-searchbar-md-h{
    background: unset;
}

.white{
    color: #fff !important;
}

ion-item > div{
    background: transparent !important;
}

#background-content{
    background-color: #ffffff !important;
}
ion-label {
    color: #45644f !important;
    font-size: 12px !important;
}   

ion-input{
    color: #000000 !important;
    font-size: 12px !important;
}

.white-cattle{
    background-color: #fff;
}
.red-cattle{
    background-color: #784a42;
}
.black-cattle{
    background-color:  #2e2c2d;
}

.border-b{
    border-bottom: gray solid 1px;
  }

.scroll-y {
    background-color: #fff !important;
}

.font-normal{
    font-size: 12px;
}

.transparent{
    background: transparent;
}
.profile-pic{
    border: #649173 2px solid;
}

.brandmark{
    padding: 0.5px;
    border: #649173 2px solid;
  }

  .brandmark-p{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

ion-list{
    background: transparent !important;
}

.header{
    height:10%;
    text-align: center;
    background: linear-gradient(195deg, #649173, #dbd5a4);
    padding-top: 20px;
}

.title-header{
    color: #45644f !important;
    font-weight: 800 !important;
    font-size: x-large !important;
    font-family: sans-serif !important;
}

.center{
    text-align: center;
}

.start{
    text-align: start;
}

.padding-5{
    padding: 5px;
  }

  .padding-25{
    padding: 25px;
  }

  .total{
    color: #45644f;
    font-weight: bold;
    font-family: sans-serif;
    float: right;
  }

  .padding-10l {
    padding-left: 10px;;
}

.eWallet-title{
    color: #45644f;
    font-size: 12px !important;
    font-weight: 800 !important;
}

.font-small{
    font-size: 11px !important;
    color: black !important;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.searchbar-input.sc-ion-searchbar-md {
    color: unset !important;
    border: unset !important;
}

.curve::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 206% 40%;
    width: 90%;
    height: 67%;
    transform: translate(37%, 127%);
    background: #fff;
    background-size: contain;
    background-image: URL("../../../assets/img/Animation/cows.gif");
}

.curve::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 214% 105%;
    width: 80%;
    background: linear-gradient(195deg, #649173, #dbd5a4);
    height: 73%;
    background: linear-gradient(195deg, #649173 -25%, #dbd5a4 61%);
    transform: translate(-13%, 91%);
    z-index: -1;
}

.padding-20l{
    padding-left: 20px;
}
