
<ion-content [scrollEvents]="false">
    <img src="../../assets/img/home.jpg"/>
    <div class="login-background">
      <ion-router-link href="guest" (click)="goToGuestDashboard()" class="underline">Guest?</ion-router-link><br><br>
     <hr class="line"/><br>
      <ion-label class="title">Login</ion-label> 
      <ion-item color="transparent" lines="none">
        <ion-label position="floating">Username</ion-label>
        <ion-input class="border-b" [(ngModel)]="username" required="true"></ion-input>
      </ion-item>
      <ion-item color="transparent" lines="none">
        <ion-label position="floating">Password</ion-label>
        <ion-input class="border-b" [ngModel]="password" required="true" type="password" size="password" autocomplete="new-password"></ion-input>
      </ion-item>
      <br>
        <ion-button class="font-normal" expand="block" (click)="onLogin()">Continue</ion-button>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-router-link href="register" (click)="goToRegister()"  class="underline font-normal">Register</ion-router-link>
            </ion-col>
            <ion-col>
              <ion-router-link href="forgot-password" (click)="goToForgotPassword()" class="underline font-normal">Forgot Password</ion-router-link>
            </ion-col>
          </ion-row>
        </ion-grid>
         
    </div>  
</ion-content>

<!--<ion-footer class="ion-no-border">
  <ion-toolbar> 
    <div class="home-center">
      Guset ? <ion-icon name="chevron-forward-outline"></ion-icon>  <ion-icon name="chevron-forward-outline"></ion-icon>
    </div> 
  </ion-toolbar>
</ion-footer>-->
 
